.navbar {
    display: block;
    height: 9vh;
}

.navul {
    position: fixed;
    margin: 0;
    padding: 0 2em;
    top: 0;
    max-width: 100vw;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-height: 9vh;
    background-color: rgba(16, 16, 16, 0.5);
    display: inline-flex;
    list-style-type: none;
    /* --webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */
}

.navli {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.3s ease;
    margin: 0;
}

.navli a {
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;

    height: 100%;
    padding: 0 1em;
}

.navli a p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navli:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.navli:hover > a {
    color: #e0e0e0;
    text-decoration: underline;
}

.navli > a:focus {
    text-decoration: underline;
}

/* media query for phones where the nav items are centered in the bar */
@media (max-width: 600px) {
    .navul {
        justify-content: center;
    }
}